// Xcode target configuration settings for the Max 5 SDK
// Used as the basis for Xcode projects to build Max externals.
//
// Changes to the settings in this file will be applied to all SDK examples
// To change settings for only one of the examples, override the settings using
// Xcode's target inspector.
//
// by Timothy Place
// Copyright © 2008, Cycling '74
// 
// by Toshiro Yamada
// Copyright © 2010, University of California, San Diego


// Name & Version & Copyright
PRODUCT_NAME = $(TARGET_NAME)
CURRENT_PRODUCT_VERSION = 
COPYRIGHT = "Copyright © 2010, Toshiro Yamada"


// Paths
FRAMEWORK_SEARCH_PATHS = /Developer/Headers/FlatCarbon /Library/Frameworks/MaxAPI.framework /Library/Frameworks/MaxAudioAPI.framework 
HEADER_SEARCH_PATHS = /Library/Frameworks/MaxAPI.framework/Headers /Library/Frameworks/MaxAudioAPI.framework/Headers 
DSTROOT = $(PROJECT_DIR) //$(SRCROOT)
// (This next path is relative to DSTROOT)
INSTALL_PATH = /../MaxPatches


// Special Files
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = /Library/Frameworks/MaxAPI.framework/Headers/macho-prefix.pch
INFOPLIST_FILE = Info.plist


// Per architecture and deployment settings
ARCHS = $(ARCHS_STANDARD_32_BIT)
VALID_ARCHS = i386 ppc
SDKROOT = //macosx10.5
GCC_VERSION = 4.0
MACOSX_DEPLOYMENT_TARGET = 10.4

COPY_PHASE_STRIP = YES
PREBINDING = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_OPTIMIZATION_LEVEL = s

// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
